#input1{

    padding: 15px ;
    width: 200px;
    
    }
    
    .container{
    
    margin-top: 2rem;
    background-color:#D6EAF8;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 12px 12px 2px 1px #5DADE2;
    
    }
    
    h3{
    
    margin-left: 20px;
    margin-top: 50px;
    font-size:26px;
    width: 200px;
    
    }
    
    .btn{
    
    width: 100px;
    padding: -30px;
    margin-top: -85px;
    margin-left: -1px;
    margin-bottom: -85px;

    
    }
    
    
    